<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/editUser.css">
    <title>Edit User</title>
</head>
<body>
    <div class="container">
        <h1 class="text-black">Edit User</h1>
        <form   action="/admin/editUser" class="entyforms" method="post">
            <div class="form-group">
                <label for="name" >Name</label>
                <input class="inputs"type="text" id="name" name="name" value="<%= user.name%>" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label> 
                <input type="email" id="email" name="email" value="<%= user.email%>" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="tel" id="phone" name="phone" value="<%= user.phoneNo%>" required>
            </div>
            <button class="add-button" type="submit">Update User</button>
            <input type="hidden" name="id" value="<%= user._id%>">
        </form>
        <a class="text-decoration-none goback" href="/admin">Go Back</a> 
    </div>
</body>
</html>
